<% layout('layouts/boilerplate') %> 
    <div class="new">
    <h1>Edit Movie</h1>
    <form action="/movies/<%= movie._id %>?_method=PUT" method="POST">
        <div class="genre">
            <input type="genre" id='genre' name='genre' placeholder="GENRE" value="<%= movie.genre %> " required>
        </div>
        <div class="cast">
            <input type="text" id='cast' name='cast' placeholder="CAST" value="<%= movie.cast %> " required>
        </div>
        <div class="director">
            <input type="text" id="" name="director" placeholder="DIRECTOR" value="<%= movie.director%> " required>
        </div>
        <div class="review">
            <textarea name="review" id="review" cols="28" rows="3" placeholder="REVIEW" required><%=movie.review  %> </textarea>
        </div>
       
        <button class="Add">Update Movie</button>
    </form>
    </div>

    